In [ ]:
import utils.fetcher_utils as fetcher
import pandas as pd

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
# !kaggle datasets download -d "asaniczka/tmdb-movies-dataset-2023-930k-movies" -p ../resources --unzip

tmdb_df = pd.read_csv('../resources/TMDB_movie_dataset_v11.csv')
tmdb_df_filtered = tmdb_df[['original_title', 'revenue', 'budget', 'release_date']]

In [ ]:
tmdb_df.head(3)

In [ ]:
tmdb_df_filtered = tmdb_df_filtered.dropna()
tmdb_df_filtered = tmdb_df_filtered[(tmdb_df_filtered['revenue']>1_000) & (tmdb_df_filtered['budget']>1_000)] #tmdb_df_filtered['title_year']>2000 &
tmdb_df_filtered.sort_values(by='revenue')

In [ ]:
tmdb_df_filtered.info()

In [ ]:
tmdb_df_filtered.plot.hist(column = ['budget'], bins = 100)

In [ ]:
# Get the data from the IMDb dataFrame
imdb_df = fetcher.aquireIMDbDataFrame()
imdb_df.head()

In [ ]:
drop_columns = ['movie_imdb_link']

In [ ]:
imdb_df_filtered = imdb_df.drop(columns=drop_columns)
imdb_df_filtered = imdb_df.dropna(subset='title_year')

In [ ]:
imdb_df_filtered = imdb_df_filtered[(imdb_df_filtered['gross']>1_000) & 
                                    (imdb_df_filtered['budget']>1_000) & 
                                    (imdb_df_filtered['country'] == 'USA') &
                                    (imdb_df['title_year']>1994)]
imdb_df_filtered

In [ ]:
imdb_df_filtered.sort_values(by='title_year').head(5)

In [ ]:
imdb_df_filtered.info()

In [ ]:
imdb_df_filtered.isna().sum()

In [ ]:
imdb_df_filtered.plot.hist(column = ['gross'], bins=100)

In [ ]:
imdb_df_filtered.plot.hist(column = ['budget'], bins = 30)

In [ ]:
gross_na_rows = imdb_df_filtered.loc[imdb_df_filtered['gross'].isna()]
movie_list = gross_na_rows['movie_title'].apply(lambda x: x.strip('\xa0')).unique()


million_df = tmdb_df_filtered.loc[tmdb_df_filtered['original_title'].isin(movie_list)].sort_values(by='original_title')
million_df

# tmdb_df_filtered

In [ ]:
gross_na_rows

In [ ]:
# million_df = tmdb_df_filtered[tmdb_df_filtered['original_title'].str.lower().isin([x.lower() for x in movie_list])]
# million_df